<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thiago Barbeiro</title>
    <link rel="stylesheet" href="../webroot/css/reset.css">
    <link rel="stylesheet" href="../webroot/css/barbeiro.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" 
    rel="stylesheet">
</head>

<body>
    <header>
        <nav class="cabecalho">
            <img class="imagem-principal" src="../webroot/img/thiago.jpg" alt="imagem-principal">
            <h1>&#64;ThiagoBarber</h1>

        </nav>
    </header>

    <main class="corpo">
        <ul class="menu">
            <li class="lista lista-A">
                <img class="imagem-whats" src="../webroot/img/whats-app.png" alt="">
                <p>WhatsApp</p> 
            </li>
            <li class="lista">
                <img class="imagem-relogio" src="../webroot/img/relogio.png" alt="">
               <p>Agende um horário</p>
            </li>
            <li class="lista">
                <img class="imagem-local" src="../webroot/img/localização.png" alt="">
               <p>Onde estou trabalhando</p>
            </li>
            <li class="lista">
                <img class="imagem-preco" src="../webroot/img/tesoura.png" alt="">
                <p>Preços</p>
            </li>
        </ul>
    </main>

<footer>
    <div class="redes-sociais" id="redes">
        <img class="instagram" src="../webroot/img/insta.png" alt="">
        <img class="facebook" src="../webroot/img/OO.png" alt="">
    </div>
</footer>
<body>
</body>
</html>