<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barber Shop</title>
    <link rel="stylesheet" href="../webroot/css/reset.css">
    <link rel="stylesheet" href="../webroot/css/barberShop.css">
</head>

<body>
<header>
    <img class="imagem-principal" src="../webroot/img/barbearia.jpg" alt="imagem-principal">
    <h1>&#64;barber_shop</h1>
</header>

<main>
    <h3 class="texto"></h3>
    <ul class="menu">
        <li class="lista">Preços</li>
        <li class="lista">Agende um horário</li>
        <li class="lista">Nossos cortes</li>
        <li class="lista">Barbeiros</li>
        <li class="lista">Nossa loja</li>
    </ul>
</main>

<footer>
    <img class="redes-sociais" src="../webroot/img/87390.png" alt="">
    <img class="facebook" src="../webroot/img/facebook2-removebg-preview.png" alt="">
</footer>
<script src="index.js"></script>
<body>
    
</body>
</html>