<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Dev</title>
    <link rel="stylesheet" href="../webroot/css/reset.css">
    <link rel="stylesheet" href="../webroot/css/devWoman.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    
<body>
    <header>
        <img class="fotoinicial" src="../webroot/img/perfil.avif" alt="">
        <h1> &#64;dev_woman</h1>
    </header>
    
    <main>
    <div class="conteudo-inicial">
        <ul class="menuPrincipal">
            <li class="listaPrincipal">
                <img src="../webroot/img/whatsapp.svg" alt="">Fale comigo
                <p></p>
            </li>
            <li class="listaPrincipal">
               <img src="../webroot/img/github.svg" alt=""> Github
               <p></p>
            </li>
            <li class="listaPrincipal">
                <img src="../webroot/img/coracao.svg" alt="">
                Projetos realizados
                <p></p>
            </li>
        </ul>
    </div>
    </main>

    <footer>
        <div class="social">
            <img class="img-social" src="../webroot/img/87390.png" alt="">
            <img class="img-social" src="../webroot/img/linkedin.svg" alt="">
        </div>
        <p class="copyright">&#169;copyright</p>
    </footer>
</body>
</html>